.wave-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 200px;
  overflow: hidden;
}

.wave {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  animation: wave-animation 2s infinite;
}

@keyframes wave-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}