.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-container h1 {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.home-container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.home-actions {
  display: flex;
  gap: 15px;
}